html {
    background-color: black;
    color: white;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}